#id01,h1,.class01  {
    color:black;
}
[type="text"] {
    color: blue;
}
[label="test01"] {
    color:burlywood;
}
/* p:hover {
    font-size: 24px;
    color: burlywood !important;
} */

#overflowTest {
    width: 200px;
    height: 200px;
    overflow: auto;
}